.container {
  width: 90%;
  margin: auto;
  
}
.container .new-tweet div {
  font-family: 'Bungee', sans-serif;
  display: flex;
  justify-content: space-between;
}
.container .new-tweet textarea {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid black;
  margin-bottom: 0.5em;
}
.container .new-tweet button {
  background-color: #4056A1;
  color: #fff;
  border: none;
}
.tweet {
  margin-top: 2.5em;
  border: 2px solid black;
  padding: 0.5em;
}
.tweet:hover {
  box-shadow: 5px 5px 5px #545149;;
}
.tweet header, .tweet .message-footer {
  display: flex;
  justify-content: space-between;
}
.tweet header h4 {
  font-weight: 300;
}
.tweet header .handle {
  color: hsl(0, 0%, 65%);
}
.tweet section {
  border-bottom: 2px solid black;
  padding-bottom: 1.25em;
  margin-bottom: 0.5em;
}
.message-footer i {
  color: #4056A1;
}
